body { touch-action: manipulation; }

.Header {
  max-width: 600px;
  min-height: 34px;
}

.HeaderButton {
  min-width: 0;
}

@media screen and (min-width: 600px) {
  .HeaderButton {
    font-size: 1em;
  }
}

.Game {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.BoardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 5;
  overflow: hidden;
  padding-top: 54px; /* height of header */
}

.Board {
  /* Note: grid-template-columns is handled programmatically in Elm land */
  display: grid;
  grid-gap: 5px;
  box-sizing: border-box;
  width: 80%;
  max-width: 350px;
  max-height: 454px;
}

@media screen and (max-height: 480px) {
  .Board {
    max-width: 175px;
    max-height: 227px;
    grid-gap: 2px;
  }
}

.BoardRow {
  /* Note: grid-template-columns is handled programmatically in Elm land */
  display: grid;
  grid-gap: 5px;
}

@media screen and (max-height: 480px) {
  .BoardRow {
    grid-gap: 2px;
  }
}

.BoardTile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  user-select: none;
  padding: unset;
  cursor: unset;
}

.BoardTile::before {
  content: '';
  display: inline-block;
  padding-bottom: 100%;
}

@media screen and (max-height: 480px) {
  .BoardTile {
    font-size: 1rem;
    line-height: 1rem;
  }
}

.Keyboard {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px 10px 10px 10px;
  user-select: none;
}

.KeyboardRow {
  display : flex;
  justify-content: space-evenly;
  gap: 4px;
}

.KeyboardKey {
  flex: 1;
  height: 7.3vh;
  padding: 0.5rem 0.25rem;
  line-height: 1.2rem;
}

.KeyboardKey:active,
.KeyboardKey:focus {
  box-shadow: none;
}

.EndGameButtons {
  width: calc(100% - 20px);
  margin: 4px 10px 0 10px;
  flex-grow: 1;
}

@media screen and (max-height: 480px) {
  .EndGameButtons a, .EndGameButtons button {
    font-size: .8rem;
  }
}

.Flash {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  width: fit-content;
  z-index: 1099;
}

.Markdown p:last-child {
  margin-bottom: 0;
}

@media screen and (prefers-color-scheme: dark) {
  .btn-close {
    filter: invert(1);
  }
}
